* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cuadrito1 {
    background-color: black;
}

.cuadrito2 {
    background-color: yellow;
}

.cuadrito1, .cuadrito2 {
    height: 100px;
    width: 100px;
    display: inline-block;
}

.contenedor1 {
    height: 100px;         
    width: 800px;          
    background-color: black; 
    font-size: 0px;
}

.contenedor2 {
    height: 100px;         
    width: 800px;          
    background-color: black; 
    font-size: 0px;    
}
