*{
            padding: 0px;
            margin: 0px;
        }
        .contenedor{
                width: 400px;
                height: 800px;
                border: 1px solid black;
                margin: 0 auto;
                position: relative;
                overflow: hidden;
        }
        .fondo{
            width: 400px;
            height: 800px;
            background-image:url(assets/fondo.jpg);
            background-size: cover;
            position: absolute;
            top:0px;
            left:0px;
        }
        .sombrero{
            width:200px;
            height: 150px;
            background-image:url(assets/rasta.jpg);
            background-size: cover;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            position: absolute;
            top:30px;
            left:100px;
        }
        .brazos{
            width:400px;
            height: 150px;
            background-image:url(assets/piel.jpg);
            background-size: cover;
            clip-path: polygon(90% 49%, 100% 60%, 90% 71%, 13% 71%, 0% 60%, 13% 48%);
            position: absolute;
            top:330px;
            left: 0px;
        }
        .oberol{
            width:200px;
            height: 300px;
            background-image:url(assets/jean.jpg);
            background-size: cover;
            clip-path: polygon(29% 0, 69% 0, 100% 100%, 0% 100%);
            position: absolute;
            top:330px;
            left:100px;
        }
        .marco1{
            width:200px;
            height: 200px;
            background-image:url(assets/sonrisa2.jpg);
            background-size: cover;
            clip-path: circle(50% at 50% 50%);
            position: absolute;
            top:155px;
            left:100px;
        }
        .zapatod{
            width:150px;
            height: 150px;
            background-image:url(assets/gamuza.jpg);
            background-size: cover;
            clip-path: polygon(34% 32%, 73% 33%, 88% 46%, 88% 61%, 73% 71%, 30% 70%, 19% 61%, 20% 46%);
            position: absolute;
            top:570px;
            left:50px;
            animation: moverabajo1 2s ease-in-out forwards;
            animation-delay: 1s;
            animation-iteration-count: infinite;        }
        .zapatoi{
            width:150px;
            height: 150px;
            background-image:url(assets/gamuza.jpg);
            background-size: cover;
            clip-path: polygon(34% 32%, 73% 33%, 88% 46%, 88% 61%, 73% 71%, 30% 70%, 19% 61%, 20% 46%);
            position: absolute;
            top:570px;
            left:200px;
            animation: moverabajo2 2s ease-in-out forwards;
            animation-iteration-count: infinite;
        }
        .barquillo{
            width:100px;
            height: 100px;
            background-image:url(assets/galleta.jpg);
            background-size: cover;
            clip-path: polygon(51% 100%, 26% 0, 78% 0);
            position: absolute;
            top:330px;
            left: -10px;
        }
        .helado1{
            width:50px;
            height:50px;
            background-image:url(assets/vainilla.jpg);
            background-size: cover;
            clip-path: circle(50% at 50% 50%);
            position: absolute;
            top:310px;
            left: -5px;
        }
        .helado2{
            width:50px;
            height:50px;
            background-image:url(assets/fresa.jpg);
            background-size: cover;
            clip-path: circle(50% at 50% 50%);
            position: absolute;
            top:310px;
            left: 35px;
        }
        .helado3{
            width:50px;
            height:50px;
            background-image:url(assets/menta.jpg);
            background-size: cover;
            clip-path: circle(50% at 50% 50%);
            position: absolute;
            top:285px;
            left: 15px;
        }
        @keyframes moverabajo1{
            0% { transform: translateY(0); }
            25% { transform: translateY(15px); }
            50% { transform: translateY(0); }
            100% { transform: translateY(15px); }
        }
        @keyframes moverabajo2{
            0% { transform: translateY(0); }
            25% { transform: translateY(15px); }
            50% { transform: translateY(0); }
            100% { transform: translateY(15px); }
        }