    *{
        margin:0;
        padding:0;
    }
    .contenedor{
        width: 800px;
        height: 400px;
        border: 1px solid black;
        position:relative;
        margin:0 auto;
        overflow: hidden;
    }
    .cuadrito{
        width: 100px;
        height: 100px;
        position: absolute;
        top:280px;
        left:-100px;

        animation: cuadrito 3s infinite;
        animation-timing-function: linear;
    }
    @keyframes cuadrito{
        0% {
            left:-100px;
            top: 280px;
        }
        25% {
            left:170px;
            top: 280px;
        }
        50% {
            left:258px;
            top: 210px;
        }
        75% {
            left:600px;
            top: 210px;
        }
        100% {
            left:600px;
            top: 500px;
        }
    }

    .cuadrito img{
        width: 70px;
        height: 70px;
    }
    .background img{
        width: 800px;
        height: 400px;
    }
